/* Globals */
html, body {
    margin: 0;
    padding: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url("/img/psr-bg.jpg");
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    background-color: slateblue;
    color: whitesmoke;
}

/* Game Display */

.game-window{
    max-width: 600px;
    min-width: 450px;
    border: 1px solid black;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.game-display {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10vh;
    justify-items: center;

    padding-top: 20px;

    background-color: lightgray;
    border: 2px solid black;
}

.result-display {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    background-color: lightgrey;
    border: 3px solid black;
}

#result-text {
    font-weight: bold;
}

.win {
    color: greenyellow;
}

.loss{
    color: orange;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightgray;
    border: 2px solid black;
}

/* Controls */

.user-controls {
    display: flex;
    justify-content: space-around;

    padding: 50px;

    background-color: slateblue;
    border: 3px solid black;
}

.btn {
    margin: 6px 20px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px;
    max-width: 100px;
    min-height: 80px;
    min-width: 100px;

    font-weight: bold;
    background-color: whitesmoke;
    border: none;
}

.btn-img {
    width: 100%;
}
